
@{
    Layout = @"..\Shared\_Layout.cshtml";
    ViewBag.Title = "Create Currency";
}

<h1>Create currency</h1>
<div class="form">
    <form>
        <div class="form-element" data-name="Name">
            <div class="label">Name</div>
            <input type="text" data-bind="value: displayName" />
        </div>
        <div class="form-element" data-name="ShortCode">
            <div class="label">Symbol(3-5 charachters)</div>
            <input type="text" data-bind="value: shortCode" />
        </div>
        <input type="submit" class="button submit-button" value="Create" />
    </form>   
</div>


@section Scripts {

    @Scripts.Render("~/Scripts/ViewModels/Currencies/CreateCurrencyViewModel.js")

}