
@{
    Layout = @"..\Shared\_Layout.cshtml";
    ViewBag.Title = "Currency";
}

<div class="currency-view" data-id="@Model">
    <h1 data-bind="text: displayName"></h1>
    <div class="seperation-line"></div>
    <h2>Basic information</h2>
    <table class="properties-table">
        <tr><td>Name</td><td data-bind="text: displayName"></td></tr>
        <tr><td>ShortCode</td><td data-bind="text: shortCode"></td></tr>
        <tr><td>Date created</td><td data-bind="text: dateCreated"></td></tr>
        <tr><td>Added by</td><td data-bind="text: createdBy"></td></tr>
    </table>

    <div data-bind="visible: valueRates, with: valueRates">
        <div class="seperation-line"></div>
        <h2>Value rates</h2>
        <table class="properties-table">
            <tr data-bind="visible: moreVisible"><td>Rank</td><td data-bind="text: rank"></td></tr>
            <tr><td>Price(USD)</td><td data-bind="text: priceUsd"></td></tr>
            <tr><td>Price(EUR)</td><td data-bind="text: priceEur"></td></tr>
            <tr><td>1H Change</td><td data-bind="text: formattedPercentChange1h, css: percentChange1hClass"></td></tr>
            <tr><td>24H Change</td><td data-bind="text: formattedPercentChange24h, css: percentChange24hClass"></td></tr>
            <tr data-bind="visible: moreVisible"><td class="p-t-md">24H Volume(USD)</td><td data-bind="text: volumeUsd24h"></td></tr>
            <tr data-bind="visible: moreVisible"><td>Market Cap(USD)</td><td data-bind="text: marketCapUsd"></td></tr>
            <tr data-bind="visible: moreVisible"><td>24H Volue(EUR)</td><td data-bind="text: volumeEur24h"></td></tr>
            <tr data-bind="visible: moreVisible"><td>Market Cap(EUR)</td><td data-bind="text: marketCapEur"></td></tr>
            <tr data-bind="visible: moreVisible"><td class="p-t-md">Available Supply</td><td data-bind="text: availableSupply"></td></tr>
            <tr data-bind="visible: moreVisible"><td>Total Supply</td><td data-bind="text: totalSupply"></td></tr>
            <tr data-bind="visible: moreVisible"><td>Max Supply</td><td data-bind="text: maxSupply"></td></tr>
            <tr data-bind="visible: moreVisible"><td class="p-t-md">Last Updated</td><td data-bind="text: lastUpdated"></td></tr>
        </table>
        <div class="link-button" data-bind="visible: !moreVisible(), click: showMore">
            Show more
        </div>
    </div>    

    <div class="seperation-line"></div>
    <h2>Comments</h2>
    <div class="comments" data-bind="foreach: comments">
        <div class="comment">
            <div class="vote-score" data-bind="text: voteLabel, css: voteClass">

            </div>
            <div class="content">
                <div class="header">
                    <div class="author" data-bind="text: createdBy"></div>
                    <div class="create-date" data-bind="text: dateCreated"></div>
                </div>
                <div class="message" data-bind="text: message"></div>
            </div>
        </div>
    </div>


    <h3>Create comment</h3>
    <form>
        <div class="label">Vote</div>
        <select data-bind="options: voteOptions, optionsText: 'label', optionsValue : 'value', value: vote"></select>
        <div class="label">Message</div>
        <textarea data-bind="value: message"></textarea>
    </form>
    <div class="button submit-button" data-bind="click: sendComment">
        Send
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/Scripts/ViewModels/Currencies/CurrencyViewModel.js")
}