@{
    Layout = @"..\Shared\_Layout.cshtml";
    ViewBag.Title = "Change password";
}

<h1>Change password</h1>
<div class="form">
    <form>
        <div class="form-element" data-name="OldPassword">
            <div class="label">Old password</div>
            <input type="password" data-bind="value: oldPassword" />
        </div>
        <div class="form-element" data-name="NewPassword">
            <div class="label">New password</div>
            <input type="password" data-bind="value: newPassword" />
        </div>
        <input type="submit" class="button submit-button" value="Update" />
    </form>
</div>

@section Scripts {
    <!-- Scripts -->
    @Scripts.Render("~/Scripts/ViewModels/Account/ChangePasswordViewModel.js")
}