<h1>Invite</h1>
<h2>Scan the QR-code</h2>
<img class="max-full-width" src="/Account/InviteQrImage" alt="invite-qr" />
<h2>Or copy the link</h2>
<pre>@Model.Url</pre>
<h2>Or share via Whatsapp</h2>
<a href="whatsapp://send?text=Krypto.frl invite: \n @Model.Url" data-action="share/whatsapp/share">Share via Whatsapp</a>