form {
    .label {
        padding-top: 16px;
        padding-bottom: 6px;
        font-weight: 600;
        font-size: 12px;
    }

    input, select, textarea {
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 100%;
        box-sizing: border-box;
        border: solid 2px #efefef;
        padding: 8px;
        background: #fff;

        &:focus {
            outline: none;
            border-color: #1ea1f7;
        }
    }

    textarea {
        resize: vertical;
        min-height: 200px;
    }
}
