.mobile-menu {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    background: #fff;
    display: none;



    a.menu-button {
        color: #1e2f50;
        padding: 16px;
        text-decoration: none;
        font-size: 18px;
        float: left;
        width: 100%;
        border-bottom: solid 1px #efefef;

        i {
            width: 28px;
            padding-right: 10px;
            text-align: center;
        }

        &.sign-out {
            color: red;
        }
    }

    .mobile-menu-header {
        float: left;
        width: 100%;
        border-bottom: solid 2px #efefef;

        .logo {
            float: left;
            padding: 15px 8px 8px 18px;
        }

        .close-mobile-menu {
            float: right;
            color: #ccc;
            font-size: 20px;
            padding: 18px;
            width: 18px;
            height: 18px;
            border-left: solid 2px #efefef;
            cursor: pointer;
        }
    }
}

@media (max-width: 575.8px) {
    body.mobile-menu-opened {
        height:100%;
        overflow:hidden;
        .mobile-menu {
            display: block;
        }
    }
}


header .open-mobile-menu {
    padding: 11px;
    cursor:pointer;
}

.mobile-visible {
    @media (min-width: 576px) {
        display: none;
    }
}
.mobile-hidden {
    @media (max-width: 575.8px) {
        display: none;
    }
}